@import '../node_modules/bootstrap/dist/css/bootstrap.css'

body
  background-color lightblue


.day-box
  height 50px
  &:hover
    background-color darken(lightblue, 20)
    cursor pointer
  .current
    height 100%
    background-color lighten(lightblue, 10)  

.star
  vertical-align middle
  font-size 20px   

.col-box
  width 14.28%   
  position relative
  float left 
  min-height 1px
  padding-right 15px
  padding-left 15px

.calendar-width
  width 70%
  margin auto  

.darkened
  z-index 1000
  opacity 0.3 !important  